/env/
.idea
__pycache__/
/search_vacancies/parser_jobs/migrations
/search_vacancies/search_vacancies
/search_vacancies/parser_jobs/tests.py

/search_vacancies/parser_jobs/adddb.py
/search_vacancies/parser_jobs/forms.py


