<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>IT Вакансии</title>>
</head>
<body>
<h2>Выбор источника вакансии</h2>
    <h2><a href="joblab/" class="btn btn-primary btn-lg active"
       role="button" aria-pressed="true">С сайта joblab.ru</a></h2>
    <h4>
        Поиск по следующим параметрам: <br>
        - город (Ногинск, Электросталь, Обухово, Старая Купавна, Электроугли) <br>
        - рубрика (Информационные технологии/IT) <br>
        - без опыта работы <br>
    </h4>
    <hr >
    <h2><a href="hh/" class="btn btn-primary btn-lg active"
       role="button" aria-pressed="true">С сайта hh.ru</a></h2>
    <h4>
        Поиск по следующим параметрам: <br>
        - город (Москва) <br>
        - ключевое слово 'Python' <br>
        - удаленная работа <br>
        - без опыта работы <br>
    </h4>
</body>