<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выбор источника вакансии</title>>
</head>
<body>
<h2>Выбор источника вакансии</h2>
    <h2><a href="joblab/" class="btn btn-primary btn-lg active"
       role="button" aria-pressed="true">joblab.ru/</a></h2>
    <h4>
        Поиск по следующим параметрам: <br>
        - город (Ногинск, Электросталь, Обухово, Старая Купавна, Электроугли) <br>
        - рубрика (Информационные технологии/IT) <br>
        - без опыта работы <br>
    </h4>
    <hr >
    <h2><a href="joblab/" class="btn btn-primary btn-lg active"
       role="button" aria-pressed="true">hh.ru/</a></h2>
</body>